body {
  background-image: url("../images/background2.jpg");
}

.itemButton {
  /* width: 30px;
  height: 30px; */
  width: 15%;
  height: 15%;
  float: right;
  /* margin: 0 3% 3% 3%; */
  /* text-align: center; */
  padding-bottom: 3px;
  color: white;
  background-color: lightblue;
  border-radius: 7px;
  cursor: pointer;
  margin: 0 3% 3% 0;
}

/* .button-container {
  width: 95%;
  margin-bottom: 10px;
  height: 10%;
  background-color: orange;
} */

.item h3,
.item p {
  margin-left: 5px;
}
.item {
  float: left;
  width: 22%;
  margin: 5px 10 5px 10px;
  background-color: #f2f2f2;
  border-radius: 25px;
  height: auto;
  /* padding: 1%; */
}

.grid-row {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 40%;
  width: 100%;
  /* background-color: blue; */
}

img {
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 0;
}

.page-content {
  margin-top: 25px;
  width: 100%;
  height: 700px;
  margin-bottom: 25px;
  /* background-color: green; */
  display: flex;
}

.about {
  margin: auto;
  width: 80%;
  text-align: center;
}

.about-text {
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
}

.cart {
  background-color: #f2f2f2;
  padding: 5px 10px 5px 10px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  width: 70%;
  /* height: auto; */
  height: 50%;
  /* float: right; */
  text-align: left;
  position: relative;
}

.cart-index {
  margin: 25px 25px;
}

.cart-addons {
  margin: 60px 50px;
}

table {
  margin-left: 10 px;
  width: 50%;
}

.row {
  display: flex;
}

.col
/* .col-2 { */ {
  padding: 0 16px;
  width: 50%;
}

.container-payment {
  margin: auto;
  width: 50%;
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.payment-input {
  /* width: 80%; */
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.w-lg {
  width: 80%;
}

.w-sm {
  width: 50%;
  /* margin-left: 5px;
  background-color: red; */
}

#province {
  width: 100px;
  margin-right: 0px;
}

#postal {
  margin-left: 0px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.btn {
  background-color: blue;
  color: white;
  padding: 12px;
  margin: 5px 35px 5px 35px;
  border: none;
  width: 90%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.form-button-container {
  width: 95%;
  position: absolute;
  bottom: 35px;
  text-align: center;
}

#cart-empty-msg {
  font-weight: bold;
  color: red;
  display: none;
}

.btn2 {
  background-color: blue;
  color: white;
  padding: 12px;
  width: 90%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  margin: 10px 10px 0px 10px;
}

.btn-template {
  padding: 10px;
  width: 150px;
  font-size: 15px;
  border-radius: 3px;
  cursor: pointer;
  margin: 5px;
  float: right;
  color: white;
}
.return-btn {
  background-color: red;
}

.back-btn {
  background-color: blue;
}

table.orderlist {
  margin: auto;
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: right;
}

tr td,
tr th {
  height: 20px;
  width: 10%;
}
tr.total td,
tr.total th {
  border-top: 3px solid blue;
}

.footer {
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  width: 90%;
  border-top: 5px solid blue;
  text-align: center;
}

.contact-us {
  text-decoration: none;
  font-size: 30px;
  color: blue;
}

.return-container {
  height: 50px;
  margin-top: 20px;
}

.contact-form {
  margin: 20px 10px 20px 0px;
}

dl dt {
  font-weight: bold;
}
.description {
  background-color: tan;
  border: 1px solid black;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  margin-top: 10px;
}

.item-type {
  margin: 5px 10 5px 10px;
  font-weight: bold;
  color: blue;
  font-size: 25px;
}

#description-link {
  margin-left: 10px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: blue;
}

.validation-msg {
  color: red;
  display: none;
}

.validation-unsuccessful {
  border: 2px solid red;
}
